#navigator {
	/* border:solid; */



	margin-top: 0%;
	margin-bottom: 5%;
	padding:5px 50px 0px 50px;
	position: sticky;
	top: 0px;
	background-color:white;
	z-index: +5;

    /* border same as gallery container */
    /* border: 3px solid rgb(121, 127, 255); */
    background-color: black;
	box-shadow: 3px 3px #888888;


}


/* @media (max-width: 1268px) {
    #navigator {
        display: none;
    }
} */

 @media (max-width: 600px) {
    #toTop {
        display: none;
    }
}


#homeNavi {
	display:block;
	color: black;
	text-decoration: none;
	padding:20px;
	font-size:22px;
	text-align: center;
}

ul.square {
	list-style-type: square;
	text-align: center;
}

.naviATag {
	display:block;
	color: black;
	text-decoration: none;
	padding:10px 0px 10px 0px;
	font-size:18px;

}

#toTop {
	float:right;
	position: relative;display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;

}
#toTop:hover{
	float:right;
	position: relative;
	color: #FFF;
  background-color: rgb(100, 100, 100)B;
  border-color: rgb(100, 100, 100); }

}
